.flex{
    display:flex;
    margin: 60px 160px;
    /* justify-content: center; */
    gap: 15;
}
.welcome{
    flex: 1;
    /* background-image: url('public/images/ICON/SignIn-backdrop.jpeg'); */
    /* add this dont know how  and replace the rest code image in public.imgaes.icons*/
    background-color: blue;
    height: 500px;
    color: white;
}
.welcome h1{
    position: relative;
    top: 150px;
    left: 23%;

}
.line{
    border: 3px solid white;
    width: 30px;
    border-radius: 20%;
    position: relative;
    top: 160px;
    left: 46%;
}
.welcome p{
    position: relative;
    top: 189px;
    text-align: center;
    font-size: 12px;
    padding: 0 20%;
}
.sign-in-container{
    flex: 1;
    background-color: white;
    align-items: center;
    text-align: center;
}
.sign-in-container h1{
    color: blue;
    padding-top: 90px;
}
.sign-in-container input{
    margin-top: 10px;
    width: 60%;
    height: 1.9em;
}
.sign-in-container button{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}

.sign-in-container button:disabled {
  cursor: default;
}

.sign-in-container button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}